/** @format */

@media (min-width: 0px) {
  body {
    overflow-x: hidden;
    // position: relative;
  }
.body-fixed {
  overflow: hidden;
}
  main {
    position: relative;
  }
  // X
  .hamburger {
    z-index: 9999;
  }

  header {
    position: absolute;
    // X
    z-index: 9999;
    width: 100vw;

    &.is-active {
      box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
      // x
      z-index: 9999;
    }

    & nav {
      display: flex;
      justify-content: space-between;
      background-color: transparent;
      box-shadow: none;
      border: 0;
      padding: 1em;
      max-width: 55em;
      width: 100%;
      height: 5em;
      position: relative;

      & p {
        color: black;
        font-size: 1.2em;
      }

      .logo-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: max-content;

        img {
          width: auto;
          height: 100%;
          max-width: 250px;
          z-index: 2;
        }
      }

      .nav-links {
        margin: 0;
        position: fixed;
        z-index: 100;
        right: 0px;
        height: 100vh;
        width: 80%;
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        transform: translateX(100%);
        transition: all 0.3s ease-in-out;
        background-color: $light-black;
        list-style: none;
        padding: 2em;
        & li {
          opacity: 1;
          padding: 0.5em 1em;
          text-align: center;
          font-weight: unset;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 22px;
          position: relative;
          text-transform: uppercase;

          & a {
            color: white;
            text-decoration: none;
          }

          &:hover {
            cursor: pointer;

            &::after {
              position: absolute;
              width: 95%;
              height: 2px;
              bottom: -2px;
              content: "";
              background-color: white;
              z-index: 2;
            }
          }
        }

        &.is-active {
          transform: translate(0%);
        }

        .social-media {
          position: absolute;
          left: 1em;
          top: 50vh;
          padding: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;

          img {
            width: 1.5em;
            height: 1.5em;
          }
        }
      }

      .mobile-flex {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      #nav-cta {
        // display: none;
        text-decoration: none;
        background-color: white;
        border-radius: 2em;
        padding: 8px 20px;
        color: #222;
        margin-right: 1em;
        font-size: 0.8em;
        z-index: 2;
      }

      .desktop-flex {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .navlinks-overlay {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      // width: 100vw;
      height: 100vh;
      transform: translateX(100%);
      background: rgba(0, 0, 0, 0.7);
      z-index: 99;

      &.is-active {
        transform: translate(0%);
        animation: fadeIn 0.3s ease-in;
      }
    }

    // fixed state
    &.scroll-fixed {
      transition: all 1s;
      background-color: $light-black;
      position: fixed;
      animation: fadeInDown .5s forwards ease-in;

      nav {
        height: 4em;
        padding: 1em;

        .logo-wrapper {
          img {}
        }
      }
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
}

@media (min-width: 600px) {
  header {
    nav {
      .nav-links {}

      .logo-wrapper {
        img {
          width: unset;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  header {
    z-index: 9999;
    & nav {
      height: 7em;
      padding: 1em;
      width: 100%;

      .nav-links {
        width: 50%;
        height: 100vh;

        li {
          // font-size: $font-size-base * 1.5;
        }
      }

      .logo-wrapper {

        img {
          width: 100%;
          height: 100%;
        }
      }
     
    }
    &.is-active {
      z-index: 9999;
    }
    &.scroll-fixed {
      transition: background-color 1s;
      background-color: $light-black;
      position: fixed;

      nav {
        height: 5em;
        padding: 1em;
        flex-wrap: inherit;

        .logo-wrapper {
          img {}
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  .hamburger {
    display: none !important;
    box-shadow: none;
  }

  header {
    z-index: 5;
    position: absolute;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;

    & .is-active {
      box-shadow: none;
      z-index: 100;
    }

    & nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: transparent;
      box-shadow: none;
      padding: 1em;
      width: 100%;
      height: 100%;
      margin: auto;
      position: relative;

      .logo-wrapper {
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        top: unset;
        left: unset;

        img {
          width: 200px;
        }
      }

      .nav-links {
        margin: 0;
        position: relative;
        right: unset;
        height: auto;
        top: unset;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        transform: unset;
        transition: unset;
        background-color: transparent;
        list-style: none;
        width: auto;
        padding: 1em;

        & li {
          opacity: 1;
          padding: 0em;
          width: max-content;
          font-size: $font-size-sm;

          a {
            padding: 0.5em;
          }
        }

        & li:nth-child(1) {
          margin-top: 0em;
          border-bottom: none;
        }

        .social-media {
          display: none;
        }
      }

      #nav-cta {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: unset;
        padding: 0.6em 1.5em;
        font-size: 0.875em;
        margin-right: 0;
        transition: all 0.5s;
        white-space: nowrap;

        &:hover,
        &:active {
          transform: translateY(-5px);
          box-shadow: $box-shadow;
          transition: all 0.5s;
        }
      }
    }

    .navlinks-overlay {
      display: none;
    }
  }
}

@media (min-width: 1200px) {
  header {
    z-index: 5;
    position: absolute;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7em;
    width: 100vw;

    & .is-active {
      z-index: 100;
    }

    & nav {
      justify-content: space-between;
      // padding: 0;

      .logo-wrapper {
        left: unset;
        top: unset;
        position: relative;

        img {
          width: 12em;
        }
      }

      .nav-links {
        & li {}
      }
    }

    &.scroll-fixed {
      transition: background-color 1s;
      position: fixed;
      height: unset;

      nav {
        height: 5em;
        padding: 1em;

        .logo-wrapper {
          img {
            width: auto;
          }
        }
      }
    }
  }
}

/* burger css */
.hamburger {
  position: relative;
  width: 40px;
  height: 52px;
  cursor: pointer;
  z-index: inherit;
  background-color: transparent;
  border: 0;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;

  & .hamburger-inner {
    width: 40px;
    height: 2px;
    position: absolute;
    transition: all 0.3s ease-in-out;

    &::before,
    &::after {
      content: "";
      content: "";
      left: 0;
      position: absolute;
      width: 100%;
      height: 100%;
      background: #fff;
      transition: all 0.3s ease-in-out;
    }

    &:before {
      transform: rotate(0deg) translate(0px, -4px);
    }

    &:after {
      transform: rotate(0deg) translate(0px, 4px);
    }
  }

  &.is-active {
    .hamburger-inner {
      &::before {
        transform: rotate(-45deg) translate(0px, 0px);
      }

      &::after {
        transform: rotate(45deg) translate(0px, 0px);
      }
    }
  }
}

// animate 
@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0)
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none
  }
}