// Regular Button
.btn {
    cursor: pointer;
    padding: 15px 30px;
    background-color: var(--main-primary-color);
    border: 0;
    color: white;
    text-decoration: none;
    margin: var(--margin-sm);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    &:hover{
        opacity: .8;
    }
    &:active{}
}
// Button Link 
.btn-primary {
    background-color: var(--main-primary-color);
}
